.wah-divider {
	background-color: #f5f5f5;
	color: var(--light-color);
	padding: .75rem 1rem;
	margin: 2.5rem -.5rem 1rem -0.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	cursor: default;
}

.wah-divider__title {
	font-weight: bold;
	font-size: 16px;
}

.wah-divider__help {
	font-size: 90%;
	opacity: .5;
	text-align: right;
}

